/* range input styles from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css */

div.Gauge {
  margin: 6vw;
}

span.valueDisplay {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 4.5vw;
  display: inline-block;
  height: 5vw;
  vertical-align: top;
  margin-top: 5.5vw;
  margin-left: 1.5vw;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 85%; /* Specific width is required for Firefox. */
  height: 15vw;
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 85%;
  height: 12vw;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16vw;
  width: 6vw;
  border-radius: 3px;
  background: #fcfcfc;
  cursor: pointer;
  margin-top: -16px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16vw;
  width: 6vw;
  border-radius: 3px;
  background: #fcfcfc;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16vw;
  width: 6vw;
  border-radius: 3px;
  background: #fcfcfc;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

div.R .Gauge input[type=range]::-webkit-slider-runnable-track {
  background: #ff0000;
}

div.G .Gauge input[type=range]::-webkit-slider-runnable-track {
  background: #00ff00;
}

div.B .Gauge input[type=range]::-webkit-slider-runnable-track {
  background: #0000ff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12vw;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 14vw;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.on .Button input {
  background-color: #f4f142;
}

.off .Button input {
  background-color: #2a0644;
  color: #f2f2f2;
}

div.Button {
  align-items: center;
  display: flex;
  justify-content: center;
}

input[type=button] {
  font-family: Arial, sans-serif;
  font-size: 5vw;
  align: center;
  height: 12vw;
  width: 40vw;
  padding: 2vw; 
  margin-right: 10vw;
  margin-bottom: 4vw;
  margin-right: 12vw;
  background:#ccc; 
  cursor: pointer;
  -webkit-border-radius: 1vw;
  border: none;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}